<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/css/globals.css">
    <link rel="stylesheet" href="/css/huge.css">
</head>

<body>
    <div class="container">
        <main class="main">
            <h1 class="title">
                Page <a href="">Not Found!</a> 🤫
            </h1>

            <p class="description">
                The page that you're looking for does not exists!
            </p>
        </main>
    </div>
</body>

</html>