<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 Internal Server Error! </title>
    <link rel="stylesheet" href="/css/globals.css">
    <link rel="stylesheet" href="/css/huge.css">
</head>

<body>
    <div class="container">
        <main class="main">
            <h1 class="title">
                <a href="">OMG! 😱</a>
            </h1>
            <p class="description">
                <code class="code"><%= message %></code>
            </p>
        </main>
    </div>
</body>

</html>