<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge 06</title>
    <link rel="stylesheet" href="/css/globals.css">
    <link rel="stylesheet" href="/css/huge.css">
</head>

<body>
    <div class="container">
        <main class="main">
            <h1 class="title">
                Welcome to <a href="">Challenge Chapter 6</a>
            </h1>

            <p class="description">
                Get started by inspecting
                <code class="code">app/index.js</code>
            </p>
        </main>
    </div>
</body>

</html>